.search-result-menu {
  position: absolute;
  top: 65px;
  width: 99%;
  z-index: 1;
}

.search-result-menu p {
  background: linear-gradient(to left, #F8804A, #F05754, #F490FA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-result-container-top {
  padding: 10px;
  display: flex;
  background-color: #1b2543;
}

.search-result-container-bottom {
  padding: 0px 10px 10px 10px;
  background-color: #1b2543;
}

.artist-search-result-card {
  width: 40%;
  padding: 10px;
  margin-right: 10px;
}

.playlist-search-result-card {
  width: 60%;
  padding: 10px;
}

.playlist-search-result-card-fullwidth {
  width: 100%;
  padding: 10px;
}

.track-search-result-card {
  padding: 10px;
}

.playlist-items-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 200px;
}

.search-result-item {
  display: flex;
  padding: 0.5px;
}

.search-result-item:hover {
  background-color: #1b2543;
  cursor: pointer;
}

.search-result-container-bottom .search-result-card {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .search-result-menu {
    width: 96%;
  }

  .search-result-container-top {
    flex-direction: column;
  }

  .artist-search-result-card {
    width: auto;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .playlist-search-result-card {
    width: auto;
  }

  .playlist-search-result-card-fullwidth {
    width: auto;
  }

  .playlist-items-container {
    flex-wrap: nowrap;
    max-height: max-content;
  }
}