.playlistTrackItem-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.5px;
}

.playlistTrackItem-image {
  height: 64px;
  width: 64px;
  margin-right: 5px;
}

.playlistTrackItem-name-artist p {
  background: linear-gradient(to left, #F8804A, #F05754, #F490FA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.playlistTrackItem-name-artist {
  display: flex;
}

.playlistTrackItem-icons-container {
  display: flex;
}

.playlistTrackItem-arrow-icon {
  margin-right: 5px;
  margin-top: 20px;
}

.playlistTrackItem-voteMenu {
  margin: 15px 0px;
  display: flex;
  justify-content: space-evenly;
}

.musicBars-icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
    /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1);
    /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5);
    /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75);
    /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6);
    /* scale down to 60% */
  }
}

.musicBars-icon {
  margin-right: 5px;
  margin-top: 25px;
}

.musicBars-icon span {
  width: 3px;
  height: 100%;
  background: linear-gradient(#F490FA, #F05754, #F8804A);
  transform-origin: bottom;
  animation: bounce 3.2s ease infinite alternate;
  content: '';
}

.musicBars-icon :nth-child(2) {
  animation-delay: -2.2s;
  background-color: #F05754;
  /* Start at the end of animation */
}

.musicBars-icon :nth-child(3) {
  animation-delay: -3.7s;
  /* Start mid-way of return of animation */
}