.sessionInfo-container {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
}

.sessionInfo-container p {
  background: linear-gradient(to left, #F8804A, #F05754, #F490FA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}