.content-container {
  margin-top: 20%;
  display: flex;
  justify-content: center;
}

.sessionSelectMenu-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 5px;
}

.sessionSelectMenu-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1200px) {
  .sessionSelectMenu-container {
    width: auto;
  }
}